@import "tailwindcss";

@theme {
  --color-base: #FAF7F2;
  --color-primary: #10B981;
  --color-secondary: #009285;
  --color-sub: #00605E;
  --color-accent: #6DC192;

  --color-text: #1E293B;
  --color-text2: #F8FAFC;
  --color-gray: #D9D9D9;
  --color-notification: #EA4444;
}

html, body {
  background: var(--color-base); 

}
