@import "tailwindcss";

@theme {
	--color-base: #faf7f2;
	--color-primary: #10b981;
	--color-secondary: #009285;
	--color-sub: #00605e;
	--color-accent: #6dc192;
	--color-placeholder: #777777;

	--color-text: #1e293b;
	--color-text2: #f8fafc;
	--color-gray: #d9d9d9;
	--color-notification: #ea4444;
	--color-placeholder: #777777;
	--color-formtext: #f8fafc;
}

html,
body {
	background: var(--color-base);
}
