CLOUDFLARE_ACCOUNT_ID = ID
CLOUDFLARE_DATABASE_ID = ID
CLOUDFLARE_D1_TOKEN = TOKEN
BETTER_AUTH_SECRET = Random String
BETTER_AUTH_URL = http://localhost:3000
GOOGLE_CLIENT_ID = ID
GOOGLE_CLIENT_SECRET = Random String